.text {
  font-family: impact;
  background-image: linear-gradient(rgba(0, 0, 0, 0.496), rgba(0, 0, 0, 0.479)), url(https://ep01.epimg.net/elcomidista/imagenes/2017/03/22/receta/1490207087_380172_1490208031_media_normal.jpg);
  background-position: center;
  background-size: cover;
  text-align: left;
  border: solid 5px black;
  height: 1000px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media screen and (max-width: 994px) {
    .text {
      text-align: center;
      height: 1000px; } }

.text1 {
  margin-top: 20px;
  margin-left: 20px; }

.not {
  color: white;
  font-size: 30px;
  font-weight: 400; }
  @media screen and (max-width: 994px) {
    .not {
      font-size: 15px; } }

.gluten {
  color: orange;
  font-size: 30px;
  font-weight: 400; }
  @media screen and (max-width: 994px) {
    .gluten {
      font-size: 15px; } }

.llevatuestilo {
  color: white;
  font-size: 100px;
  font-weight: 300; }
  @media screen and (max-width: 994px) {
    .llevatuestilo {
      font-size: 50px; } }

.anotgluten {
  color: orange;
  font-size: 100px;
  font-weight: 300; }
  @media screen and (max-width: 994px) {
    .anotgluten {
      font-size: 50px; } }

.coment {
  color: white;
  font-size: 20px;
  font-weight: 400; }
  @media screen and (max-width: 994px) {
    .coment {
      font-size: 10px; } }

.video {
  width: 400px;
  margin-top: 100px;
  margin-left: 450px;
  border: solid 5px orange; }
  @media screen and (min-width: 640px) and (max-width: 994px) {
    .video {
      margin-left: 200px; } }
  @media screen and (max-width: 640px) {
    .video {
      margin-left: 50px; } }

.cierre {
  background-color: rgba(107, 41, 2, 0.815);
  display: flex;
  justify-content: space-evenly;
  align-content: center; }

.p {
  color: white;
  font-size: 20px;
  font-family: verdana; }

.navbar {
  background-color: #dc8f00 !important; }
  @media screen and (max-width: 994px) {
    .navbar {
      background-color: rgba(107, 41, 2, 0.815) !important; } }

.nav-link {
  font-size: x-large;
  color: white !important;
  text-decoration: none;
  margin: 10px !important;
  padding: 0px !important;
  animation-name: nav !important;
  animation-duration: 0.5s !important;
  animation-delay: 0.2 !important;
  animation-timing-function: ease !important; }

.navbar-brand {
  animation-name: nav !important;
  animation-duration: 0.5s !important;
  animation-delay: 0.2 !important;
  animation-timing-function: ease !important; }

.nav-link:hover {
  color: white;
  text-decoration: underline; }

.navbar-brand:hover {
  transform: scale(1.2, 1.2) !important; }

.navbar-collapse {
  flex-grow: 0 !important; }

.parrafo {
  font-family: verdana;
  font-size: 20px;
  color: #ffffffbf;
  background-color: #ffa6003c;
  border: solid white 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 15px; }
  @media screen and (max-width: 994px) {
    .parrafo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.parrafo1 {
  font-family: verdana;
  font-size: 20px;
  color: #ffffffbf;
  background-color: #ffa6003c;
  border: solid white 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 15px; }
  @media screen and (max-width: 994px) {
    .parrafo1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: small; } }

.recetas {
  font-family: impact;
  background-image: linear-gradient(rgba(0, 0, 0, 0.496), rgba(0, 0, 0, 0.479)), url(https://ep01.epimg.net/elcomidista/imagenes/2017/03/22/receta/1490207087_380172_1490208031_media_normal.jpg);
  background-position: center;
  background-size: cover;
  border: solid 5px black;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.d-block {
  height: 300px !important;
  width: 600px !important; }
  @media screen and (max-width: 994px) {
    .d-block {
      height: 150px !important;
      width: 350px !important; } }

.carousel {
  height: 300px !important;
  width: 600px !important;
  margin-bottom: 100px !important; }
  @media screen and (max-width: 994px) {
    .carousel {
      height: 150px !important;
      width: 350px !important; } }

.preparacion, .fondosprepa {
  list-style-type: none;
  font-family: verdana;
  font-size: 15px;
  color: #ffffffbf;
  width: 1000px; }

.fondosprepa {
  background-color: #ffa6003c;
  border: solid white 2px;
  margin: 10px;
  padding: 15px; }

.registro {
  border: dotted 2px white;
  padding: 10px;
  text-align: center;
  color: rgba(255, 166, 0, 0.731);
  animation-name: registro;
  animation-duration: 0.5s;
  animation-delay: 0.2;
  animation-timing-function: ease; }

@keyframes registro {
  0% {
    transform: translateY(400px); }
  100% {
    transform: translateY(0px); } }

.form-check {
  color: white !important; }

.btn {
  background-color: rgba(255, 166, 0, 0.731);
  border: rgba(255, 166, 0, 0.731); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?mo2vqy");
  src: url("../fonts/icomoon.eot?mo2vqy#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mo2vqy") format("truetype"), url("../fonts/icomoon.woff?mo2vqy") format("woff"), url("../fonts/icomoon.svg?mo2vqy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-whatsapp:before {
  content: "\ea93"; }

.icon-twitter:before {
  content: "\ea96"; }

.socialbar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100; }

.icon {
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s; }

.icon:first-child {
  border-radius: 1rem 0 0 0 0 !important; }

.icon:last-child {
  border-radius: 0 0 0 0 1rem !important; }

.icon:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

.icon-facebook2 {
  background-color: #dc8f00; }

.icon-instagram {
  background-color: #dc8f00; }

.icon-whatsapp {
  background-color: #dc8f00; }

.icon-twitter {
  background-color: #dc8f00; }

.icon-facebook2:hover {
  color: rgba(107, 41, 2, 0.815) !important; }

.icon-instagram:hover {
  color: rgba(107, 41, 2, 0.815) !important; }

.icon-whatsapp:hover {
  color: rgba(107, 41, 2, 0.815) !important; }

.icon-twitter:hover {
  color: rgba(107, 41, 2, 0.815) !important; }
