.cierre {background-color:  rgba(107, 41, 2, 0.815);
    display: flex;
    justify-content: space-evenly;
    align-content: center;}

.p {color:white;
    font-size: 20px;
    font-family: verdana;}
