.cierre {background-color: black;
    display: flex;
    justify-content: space-around;
    align-content: center;}
.redessociales {display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 20px;}
.redessociales1 {display: flex;
    justify-content: space-around;
    align-content: center;}
.logo1 {height: 50px;}    
.logost {width: 120px;
    margin-top: 10px;}
.todosderechos {color:white;
    font-size: 20px;
    font-family: verdana;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 30px;}