.text {font-family: impact;
    background-image: linear-gradient(rgba(0, 0, 0, 0.496), rgba(0, 0, 0, 0.479)), url(https://ep01.epimg.net/elcomidista/imagenes/2017/03/22/receta/1490207087_380172_1490208031_media_normal.jpg);
    background-position: center;
    background-size: cover;
    text-align: left;
    border: solid 5px black;
    height: 1000px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width:994px){
        text-align: center;
    height: 1000px;}
    }
.text1 {margin-top: 20px;
    margin-left: 20px;}
.not {color: white ;
    font-size:30px ;
    font-weight:400;
    @media screen and (max-width:994px){
        font-size: 15px;}
    }
.gluten {color:orange ;
    font-size:30px ;
    font-weight:400;
    @media screen and (max-width:994px){
        font-size: 15px;}
    }
.llevatuestilo {color:white ;
    font-size:100px ;
    font-weight:300 ;
    @media screen and (max-width:994px){
        font-size: 50px;}
    }
.anotgluten {color:orange ;
    font-size:100px ;
    font-weight:300 ;    
    @media screen and (max-width:994px){
        font-size: 50px;}}
.coment {color:white ;
    font-size:20px ;
    font-weight:400 ;
    @media screen and (max-width:994px){
        font-size: 10px;}}

.video {
    width: 400px;
    margin-top: 100px;
    margin-left: 450px;
    border: solid 5px orange;
    @media screen and (min-width:640px)and (max-width:994px){
    margin-left: 200px;
}
@media screen and (max-width:640px){
    margin-left: 50px;
}}