.navbar {  
    background-color: black !important;}
.nav-link { font-size: x-large; 
    color: rgb(0, 55, 255) !important; 
    text-decoration: none;
    margin: 10px !important;
    padding: 0px !important;
    animation-name: nav !important;
    animation-duration: 0.5s !important;
    animation-delay: 0.2 !important;
    animation-timing-function: ease !important;}
.navbar-brand {animation-name: nav !important;
    animation-duration: 0.5s !important;
    animation-delay: 0.2 !important;
    animation-timing-function: ease !important;}

