.navbar {background-color: rgb(220, 143, 0) !important;
@media screen and (max-width:994px){
    background-color: rgb(255, 162, 63) !important;}}
.nav-link { font-size: x-large; 
    color: white !important; 
    text-decoration: none;
    margin: 10px !important;
    padding: 0px !important;
    animation-name: nav !important;
    animation-duration: 0.5s !important;
    animation-delay: 0.2 !important;
    animation-timing-function: ease !important;}
.navbar-brand {animation-name: nav !important;
    animation-duration: 0.5s !important;
    animation-delay: 0.2 !important;
    animation-timing-function: ease !important;}
    .nav-link:hover {color: white; text-decoration: underline;}
    .navbar-brand:hover {transform: scale(1.2,1.2) !important;}
.navbar-collapse {
flex-grow: 0 !important; }