.recetas {font-family: impact;
    background-image: linear-gradient(rgba(0, 0, 0, 0.496), rgba(0, 0, 0, 0.479)), url(https://ep01.epimg.net/elcomidista/imagenes/2017/03/22/receta/1490207087_380172_1490208031_media_normal.jpg);
    background-position: center;
    background-size: cover;
    border: solid 5px black;
    background-attachment: fixed;}
.alfajor { list-style-type: none;font-family: verdana;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.749);
    background-color: rgba(255, 166, 0, 0.234);
    border: solid white 2px;
    margin: 10px;
    padding: 15px;}
.crepes {list-style-type: none;
    font-family: verdana;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.749);
    background-color: rgba(255, 166, 0, 0.234);
    border: solid white 2px;
    margin: 10px;
    padding: 15px;}
.piza {list-style-type: none;
    font-family: verdana;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.749);
    background-color: rgba(255, 166, 0, 0.234);
    border: solid white 2px;
    margin: 10px;
    padding: 15px;}
.ayudita {border: white dotted 2px;
    font-size: medium;
    height: 30px;
    width: 400px;
    color: rgba(255, 255, 255, 0.781);
    @media screen and (max-width:994px){
        font-size: medium;
        height: 50px;
        width: 350px;}}
.d-block {height: 500px !important; width: 800px !important;}
.carousel {height: 500px !important; width: 800px !important;
    display: flex !important;
    justify-content: center !important;
    @media screen and (max-width:994px){
        height: 50px !important;
        width: 50px !important;}
    }


    @media screen and (max-width:994px){
        .coment {color:white ;
                font-size:30px ;
                font-weight:400 ;}
        .falfajor{grid-area: falfajor;margin: 0px; height: 300px;}
        .fcrepes {grid-area: fcrepes;margin: 0px;height: 300px;}
        .fpiza {grid-area: fpiza;margin: 0px;height: 300px;}