.registro { border: dotted 2px white; padding: 10px;
    text-align: center; color: rgba(255, 166, 0, 0.731);
    animation-name: registro;
    animation-duration: 0.5s;
    animation-delay: 0.2;
    animation-timing-function: ease;}
.form-check { color: white !important;}
    